*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
:root {
    --primary-color:#F5CF06;
    --secondary-color:#8E4106;
    --white:#ffffff;
    --space-default:70px;

}
body{
    height: 100vh;
    background-color:var(--primary-color);
    display: flex;
    flex-direction: column;
    padding-top: var(--space-default);
    padding-right: var(--space-default);
    padding-bottom: 24px;
    padding-left: var(--space-default);
    font-family: 'Righteous', cursive;
}
header{
    
    height: 48px;
}
.logo{
    display: flex;
    align-items: center;
    gap: 16px;
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 2rem;
    
}
main{
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(12,1fr);
}
.pikachu-image{
    position:absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.title{
    position: relative;
    grid-column: 1/-1;
    place-self:center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title_text{
    color: var(--white);
    font-size: 20vw;
}
.title__transparent{
    position: absolute;
    font-size: 24vw;
    z-index: -1;
    transform: translateY(-35%);
    color: #ffffff55

}
.description{
    grid-column: 1/7;
    place-self: center start;
    color: var(--secondary-color);
}
.description_title{
    font-size: 4rem;
}
.description_text{
    font-size: 1.2rem;
    width: 500px;
}
.action{
    grid-column: 7/-1;
    place-self: center end;
    height: 100px;
    width: 411px;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    font-size: 3rem;
    text-decoration:none;
}
footer{
    text-align: center;
    color: var(--secondary-color);
}

@media (max-width:900px) {
    :root{
        --space-default:30px;
    }
    main{
        flex-grow: 1;
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .pikachu-image{
        transform: translate(-50%,-60%);
    }
    .title{
        place-self: start center;

    }
    .description{
        grid-row: 2/3;
        grid-column: 1/-1;
        place-self: center;
        text-align: center;
    }
    .action{
        grid-row: 2;
        grid-column: 1/-1;
        place-self: end center;
    }
    footer{
        display: none;
    }
}